<div class="container page-content">
  <h1><%=@practice.name%></h1>
  <div class="container" data-controller="google-search">
    <%= form_with data: { action: "submit->google-search#findPlaceFromQuery"}  do |form| %>
      <%= form.text_field :query, placeholder: 'Enter your search query', data: {google_search_target: "input"} %>
      <%= form.submit 'Search' %>
    <% end %>
    <div id="map" >
      <div id="results">
      </div>
    </div>
    <div id="card-container"></div>
  </div>
</div>
