// Import page-specific CSS files here.
@import "home";
@import "login";

input.form-control {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex; /* mandatory */
  flex-direction: column; /* mandatory */
  // height: 100vh; /* mandatory */
  // flex-grow: 1;
}

body {
  height: 100vh;
}
