// Import page-specific CSS files here.
@import "home";

.search-bar {
  background-color: white;
  padding-bottom: 15px;
}

input.form-control {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}

.search-text {
  text-align: center;
}

.practice-count {
  padding-top: 15px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

.container {
  display: flex; /* mandatory */
  flex-direction: column; /* mandatory */
  height: 100vh; /* mandatory */
}

body {
  font-family: 'Quicksand', sans-serif;
}
