<div class="practices-descriptor">
  <p><strong>Kenkou Match assists you in finding the right medical specialist to suit your needs.</strong></p>
  <p>Our unique "Kenkou Card" offers an ai-assisted "Study Card" to help you better communicate your needs to medical profressionals</p>
</div>
