<div class="practices-descriptor">
  <p><strong>We're here to help you find the right medical specialist to suit your needs.</strong></p>
  <p>Our unique <strong>"Kenkou Card"</strong> offers an ai-assisted study card to help you better communicate your needs to medical profressionals</p>
</div>
