<div class="practices-descriptor">
  <h3>Kenkou Match is a Doctor-matching Service.</h3>
  <h5>Our goal is to help you navigate the Japanese healthcare system with ease</h5>
  <ul>
    <li>English-speaking doctors in Japan are rare, so our service can assist you in finding the right specialist to suit your needs.</li>
    <li>Our unique "Kenkou Card" offers an ai-assisted "Study Card" to help you better communicate your needs to medical profressionals </li>
  </ul>
</div>
