<!-- practice_path(practice) -->
<a href="<%= practice_path(practice) %>">
  <div class="practice-card" style="background-color: #C9EBEF" >
    <h3><%= practice.name %></h3>
    <p><%= practice.info %></p>
  </div>
</a>
