<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/banner_doctor.jpg');">
  <div class="banner-container">
    <h1>Kenkou Match helps <strong>you find</strong> <strong>local medical specialists.</strong></h1>
    <p>Communicate with Japanese doctors with confidence.</p>
  </div>
</div>
<div class="container-index">
  <div class="row">
    <div class="col">
      <h1 class="h2 my-3 d-flex justify-content-center"> Search for a Specialty </h1>
      <div data-controller="search-practices">
        <%= form_with url: practices_path, method: :get, html: {class: "mb-4", data: { search_practices_target: "form" }} do |f| %>
          <!-- How to write an action in regular HTML
          <input class="btn" type="text" data-action="keyup->search-practices#update">
          <input class="btn" type="text" data-search-practices-target="input"> -->
          <%= f.text_field :query,
                            # placeholder: "Type a Practice, Specialty, or Symptom",
                           class: "form-control",
                           value: params[:query],
                           data: {
                            action: "keyup->search-practices#update",
                            search_practices_target: "input"
                           },
                           placeholder: "Type a symptom, practice, or specialty."

                           %>
        <% end %>
        <%# <div class='scrollable'> %>
        <div data-search-practices-target='list'>
          <%= render "list", practices: @practices %>
        </div>
        <%# </div> %>
      </div>
      <div class="practices-wrapper" data-controller="homepage-description">
        <%= render "descriptor"%>
      </div>
    </div>
  </div>
</div>
<!-- end of container -->
