<%keywords.each do |kwrd|%>
  <div class="card-show-key">
    <div class="jcontainer">
      <div class="key1"><%=kwrd[1]%></div>
      <div class="key2"><%=kwrd[0]%></div>
    </div>
    <div class="key3"><%=kwrd[2]%></div>
  </div>
<%end%>
