<%phrases.each do |phrase|%>
  <div class="card-show-phrase">
    <div class="p1"><%=phrase[0]%></div>
    <div class="card-show-phrase-sub">
      <div class="p2"><%=phrase[1]%></div>
      <div class="p3"><%=phrase[2]%></div>
    </div>
  </div>
<%end%>
