<div class='container p-5 rounded-4 col-3 mt-5 mb-2 p-3 bg-white border border-info border-opacity-25 shadow p-3 mb-2 bg-body rounded'>
  <div class='row'>
    <div class='col'>
      <h1>Cards#new</h1>
      <%= simple_form_for [@practice, @card] do |f| %>
        <%= f.input :originalcontent, input_html: { maxlength: 75, value: "be specific" } %>
        <div class='d-flex justify-content-between'>
          <%= f.submit "create card", class: "btn btn-primary justify-content-center" %>
          <%= link_to "Cancel", :back , {:class=>"btn btn-outline-danger"}%>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
