<h1>this is cards#new</h1>
<p>here should be a form for creating a new card</p>
<%= simple_form_for [@practice, @card] do |f| %>
  <%= f.input :originalcontent, input_html: { maxlength: 75, value: "be specific" } %>
  <%= f.submit "create card", class: "btn btn-primary" %>
<% end %>
