

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner {
    background-size: cover;
    background-position: left;
    padding: 100px 0 40px;
    position: relative;
    opacity: 0.8;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 522px) {
  .banner {
    background-size: cover;
    background-position: left;
    padding: 128px 0 48px;
    position: relative;
    opacity: 0.8;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .banner {
    background-size: cover;
    background-position: left;
    padding: 144px 0 54px;
    position: relative;
    opacity: 0.8;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .banner {
    background-size: cover;
    background-position: left;
    padding: 160px 0 72px;
    position: relative;
    opacity: 0.8;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .banner {
    background-size: cover;
    background-position: left;
    padding: 200px 0 96px;
    position: relative;
    opacity: 0.8;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 10px;
}

.banner p {
  margin-top: 0.5em;
  font-size: 1.2rem;
  color: white;
  // opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  padding-left: 10px;
}
