.custom-button {

background-color: $turquoise;
color: white;
}

.fixed-width {
  width: 10em;
  padding-top: 3;
  padding-bottom: 3;
}

.custom-button:hover {
  background-color: $light-blue;
  color: $gray;
}

.redo-button {
  background-color: $light-blue;
  border-radius: 15px;
  border: $turquoise 1px solid;
  color: $turquoise;
  // color: $light-gray;
  font-weight: bolder;
}

.redo-button:hover {
  background-color: $light-gray;
}

.redo-phrase-button {

}
