.custom-button {
background-color: $turquoise;
color: white;
}

.fixed-width {
  width: 10em;
  padding-top: 3;
  padding-bottom: 3;
}

.custom-button:hover {
  background-color: $light-blue;
  color: $gray;
}

.redo-button {
  background-color: $light-blue;
  border-radius: 15px;
  border: $turquoise 1px solid;
  color: $turquoise;
  // color: $light-gray;
  font-weight: bolder;
}

.del-btn-container {
  margin: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black
}

.del-btn {
  background-color: $light-manila;
  // margin-bottom: 0;
  border: $turquoise 2px solid;
  border-radius: 15px;
  padding-top: .5em;
}

.trash-icon {
  color: black;
  display: flex;
  justify-content: right;
  padding-right: 10px;
  padding-top: 5px;
}

.trash-icon:hover {
  color: black;
  opacity: .7;
}
