
.practice-card h3 {
  padding-top: 10px;
  color: black;
}

.practice-card {
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  margin: 10px 0;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 30px;
  text-decoration: none;
}

.practice-card a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 900;
}

.practice-card p {
  display: none;
}

.practice-card:hover p {
  display: unset;
}

.practice-card {
  padding-top: 15px;
  padding-left: 15px;
}

.practice-name {
  opacity: 10pc;
  width: 100%;
}
