.card-show-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
}

.card-show-container {
  background-color: $light-blue;
}

.card-show-element {
  border: $turquoise 2px solid;
  background-color: $light-blue;
  border-radius: 15px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  padding: 1em;
  gap: .5em;
}

.card-show-key {
  display: flex;
  // align-items: center;
  border: $turquoise 1px solid;
  // border-: none;
  // border-right: none;
  border-radius: 15px;
  width: 100%;
  background-color: $manila;
}

.jcontainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.key1 {
  // flex-grow: 1;
  // padding-top: 2px;
  // padding-bottom: 2px;
  // padding-left: 1em;
  // border-top-left-radius: 15px;
  // border-bottom-left-radius: 15px;
  text-align: left;
  font-size: .7em;
}

.key2 {
  text-align: left;
  // flex-grow: 1;
  // font-size: .7em;
}

.key3 {
  text-align: right;
  padding-top: .5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.addword {
  padding-left: 1em;
  padding-right: 1em;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 15px;
  border-left: $turquoise 1px solid;
}

.card-show-phrase {
  border: $turquoise 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 100%;
  background-color: $manila;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.card-show-phrase-sub {
  text-align: center;
  border-top: $turquoise 1px solid;
  background: $light-gray;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1em;
}

.p1 {
  padding-top: .5em;
  padding-bottom: .5em;
}

.p2 {
  font-size: .7em;
}

.p3 {
  font-size: 1.1em;
}

.inner-header {
  display: flex;
  padding-top: 1em;
  flex-direction: column;
  justify-content: center;
  background-color: $light-gray;
  color: $turquoise;
  text-align: center;
}

.inner-header-btn {
  background-color: $light-manila;
  margin-bottom: 0;
  border: $turquoise 2px solid;
  border-radius: 15px;
  // border-top: $turquoise 2px solid;
  // border-right: $turquoise 2px solid;
  // border-left: $turquoise 2px solid;
  // border-top-left-radius: 15px;
  // border-top-right-radius: 15px;
  // border-bottom: none;
  color: black;
  margin-bottom: .5em;
}

.show-header {
  color: $gray;
  height: 130px;
  width: 100%;
}

#banner-content {
  color:  black;
  border-color: black;
  width: 100%;
  // margin-bottom: .5em;
  text-align: left;
  padding-left: 20px;
  padding-top: 0px;
  margin-bottom: .5em;
  text-shadow: black;
  background-color: #C9EBEF;
  background-image: url("kenkou-banner.svg");
  background-repeat: no-repeat;
  background-position: 10% 50%;
  height: 150px;
  background-size: 200px auto;
  font-weight: bold;
  div {
    height: 200px;
  }
}

#subcontent {
  // background-color: rgba(255, 236, 176, 0.7);
  // border-bottom: $turquoise 2px solid;
  // border-top: $turquoise 2px solid;
  // background-color: rgb(255, 236, 176);
  // text-shadow: white 1px 0 10px;
  width: 100%;
  margin-bottom: .5em;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  text-align: center;

}
