.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 2fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 2fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.practice-card h3 {
  padding-top: 10px;
  color: black;
}

.practice-card {
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;
  position: relative;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}


.practice-card a {
  display: flex;
  left: 0;
}

.practice-name {
  opacity: 10pc;
  width: 100%;
}

.practice-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card-text {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.practice-infos {
  width: 100%;
  font-family: 'Quicksand';
  img {
    width: 80%;
  }
}

.practice-card:hover {
  img {
    filter: brightness(110%);
  }
}

.practice-count {
  padding-top: 15px;
}

.cards-index-card {
  // border: $turquoise 2px solid;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 233, 191);
  // border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
}

.search-bar {
  background-color: white;
  padding-bottom: 15px;
}

.search-text {
  text-align: center;
}

.practice-show-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 150px;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  // background: image-url('loupe.png');
  // background-size: contain;
  // background-repeat: no-repeat;
}

.practice-show-card-2 {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 150px;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  // background: image-url('flash-card.png');
  // background-size: contain;
  // background-repeat: no-repeat;
}

// card for institutions#index

.card-institutions-index {
  overflow: hidden;
  height: 120px;
  background: #F4F4F4;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 16px;
  border: solid;
  border-width: thin;
  border-radius: 24px;
  border-color: #C7EAF3;
}

.card-institutions-index img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-institutions-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-institutions-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-institutions-index .card-institutions-index-infos {
  padding: 16px;
}


.ai-card {
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

// background: #FFFFFF;
// border-radius: 20px;
}

.ai-card-img {
position: absolute;
left: 15.06%;
right: 14.76%;
top: 15.93%;
bottom: 15.34%;

background: url(translation.png);
}
