.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 2fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 2fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.practice-card h3 {
  padding-top: 10px;
  color: black;
}

.practice-card {
  flex-direction: column;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
  padding-left: 15px;
  position: relative;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}


.practice-card a {
  display: flex;
  left: 0;
}

.practice-name {
  opacity: 10pc;
  width: 100%;
}

.practice-card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card-text {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.practice-infos {
  width: 100%;
  font-family: 'Quicksand';
  img {
    width: 80%;
  }
}

.practice-card:hover {
  img {
    filter: brightness(110%);
  }
}

.practice-count {
  padding-top: 15px;
}

.card-index {
  // border: $turquoise 2px solid;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 233, 191);
  // border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
}

.search-bar {
  background-color: white;
  padding-bottom: 15px;
}

.search-text {
  text-align: center;
}
