.institution-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding: 1em;
}

#inst-header {
  margin: 2em;
}

#inst-contact-infos {

}

#inst-other-infos {

}
