.practices-container {
  margin: 1em;
}

.practices-descriptor {
  margin: 1em;
  padding: 1em;
}

.practices-wrapper {
  border-radius: 15px;
  border: 1px rgb(200, 200, 200) solid;
}

// .practices-descriptor
// h3, h5 {
//   text-align: center;
// }

.practices-descriptor h3 {
  font-weight: bolder;
}
