.practices-container {
  margin: 1em;
}

.practices-descriptor {
  // margin-bottom: 1em;
  padding: 1em;
  padding-bottom: 0;
  // color: $turquoise;
}

.practices-wrapper {
  // border-radius: 15px;
  // border: 1px rgb(200, 200, 200) solid;
  // background-color: rgba(51, 153, 183, 0.8);
  // color: $light-gray;
  padding-left: 10px;
}

// .practices-descriptor
// h3, h5 {
//   text-align: center;
// }

.practices-descriptor h3 {
  font-weight: bolder;
}
